@import 'tailwindcss/base';
@import '@navikt/ds-css';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@tailwind base;
@tailwind components;
@tailwind utilities;

h1:not(.navds-heading)::after {
    content: 'Ikke bruk Heading 1 i trello, bruk Heading 2. Kortets tittel er Heading 1';
    color: red;
}
